#root {
    position: relative;
    /* Pour que le footer absolu prenne toute la largeur de l'appli */
}

footer {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1rem;

    .footer-logo {
        margin: 4rem 0 0.5rem;
    }

    p {
        font-size: 24px;
    }


    //   Version mobile //

    @media (max-width: 768px) {

        footer {
            margin: 0;
            padding: 0;
        }

        p {
            width: 120px;
            font-size: 12px;
        }
    }

}