.modal {
    width: 100%;
    max-width: 1240px;
    margin: auto;

    .info-property {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-left {

            h1 {
                font-size: 2.2em;
                font-weight: 500;
                color: #ff6060;
                margin: 30px 0 0 0;
                // padding-right: 100px;
            }

            .lieu,
            .lieu p {
                font-size: 1.1em;
                font-weight: 500;
                margin: 5px 0 20px 0;
            }

            .tag {
                display: inline-block; //Pour pouvoir appliquer les dimensions de l'élément
                // car par défaut les span ont un display qui empêchent de les modifier
                max-width: 200px;
                min-width: 150px;
                height: 25px;
                background-color: #ff6060;
                color: white;
                font-size: 14px;
                font-weight: 700;
                line-height: 25px; // Pour centrer le texte horizontalement
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
        }

        .info-right {
            margin-left: 100px;

            .host-info {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .host-info p {
                max-width: 120px;
                text-align: right;
                font-size: 1.2em;
                color: #ff6060;
                margin-right: 10px;
                line-height: 120%;
            }

            .host-info img {
                width: 64px;
                height: 64px;
                border-radius: 100%;
            }

            .rating {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                font-size: 1.5em;
                text-align: right;
                margin-top: 10px;

                .star {
                    color: #dddddd !important;
                }

                .filled {
                    color: #ff6060 !important;
                }
            }
        }
    }

    .info-collapses {
        display: flex;
        gap: 70px;

        .collapse-title {
            font-size: 1.1em;
        }
    }

}

//   Version mobile //

@media (max-width: 768px) {

    .modal {

        .info-property {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0;
            text-align: left;


            .info-left {
                h1 {
                    font-size: 1.3em;
                    margin-top: 10px;
                }

                .lieu,
                .lieu p {
                    font-size: 0.9em;
                    margin: 10px 0 10px 0;
                }

                .tag {
                    font-size: 0.7em;
                    max-width: 150px;
                    min-width: 120px;
                    margin: 0 10px 10px 0;
                }
            }

            .info-right {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                margin-left: 0px;

                .host-info {
                    margin-left: auto; // Pousse ce groupe à droite
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    p {
                        max-width: 120px;
                        text-align: right;
                        font-size: 1em;
                        color: #ff6060;
                        margin-right: 10px;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                    }
                }

                .rating {
                    display: flex;
                    justify-content: flex-end;
                    gap: 5px;
                    font-size: 1em;
                    text-align: right;
                    margin: 0;
                }
            }
        }

        .info-collapses {
            flex-direction: column;
            gap: 0;

            .collapse {
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 420px) {

    .modal {

        .info-property {

            .info-right {

                .host-info {

                    p {
                        max-width: 100px;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                    }
                }

                .rating {
                    gap: 2px;
                }
            }
        }
    }
}